name: aicc-stack

services:
  nginx:
    image: nginx:1.27-alpine
    container_name: aicc-nginx
    restart: unless-stopped
    depends_on: [ aicc-api ]
    ports: [ "80:80", "443:443" ]
    volumes:
      - ${HOST_INFRA_DIR:-./src/infra}/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ${HOST_INFRA_DIR:-./src/infra}/certbot/www:/var/www/certbot
      - ${HOST_INFRA_DIR:-./src/infra}/letsencrypt:/etc/letsencrypt
    networks: [ aicc-net ]

  aicc-api:
    image: einhn/aicc:back-latest
    container_name: aicc-api
    restart: unless-stopped
    env_file:
      - ${ENV_FILE:-./.env}
    depends_on: [ redis ]
    volumes:
      - redis_run:/var/run/redis
    networks: [ aicc-net ]

  redis:
    image: redis:7.2-alpine
    container_name: aicc-redis
    restart: unless-stopped
    command: ["redis-server","/usr/local/etc/redis/redis.conf"]
    volumes:
      - ${HOST_INFRA_DIR:-./src/infra}/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
      - redis_run:/var/run/redis
      - redis_data:/data
    networks: [ aicc-net ]

volumes:
  redis_run:
    name: aicc-redis-run
  redis_data:
    name: aicc-redis-data

networks:
  aicc-net:
    driver: bridge